*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #ADD8E6;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}



.conteiner-principal{

    width: 230px;
   height: 490px;
    display: flex;
    align-items: center;
   justify-content: center;
   background-color: white;
   flex-direction: column;
   border-radius: 20px;
   margin-top: 150px;

   


}


.QRCODE{
    width: 200px;
    border-radius: 20px;

}

h2{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

    
}

h6{
    margin-top: 20px;
    margin-left: 20px;
}